div.pulse-button {
    --primaryBoxShadow: 0 0 0 0 rgba(90, 153, 212, 0.5);
    --stepBoxShadow: 0 0 0 50px rgba(90, 153, 212, 0);
    --finalBoxShadow: 0 0 0 0 rgba(90, 153, 212, 0);

    box-shadow: var(--primaryBoxShadow);
    animation: pulse 1.5s infinite;
    -webkit-animation: pulse 1.5s infinite;
}

div.pulse-button:hover {
    animation: none;
    -webkit-animation: none;
}

div.no-pulse {
    animation: none;
    -webkit-animation: none;
}

@keyframes pulse {
    0% {
        -moz-transform: scale(0.9);
        -ms-transform: scale(0.9);
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
    }

    70% {
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -webkit-transform: scale(1);
        transform: scale(1);
        box-shadow: var(--stepBoxShadow);
    }

    100% {
        -moz-transform: scale(0.9);
        -ms-transform: scale(0.9);
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
        box-shadow: var(--finalBoxShadow);
    }
}

@-webkit-keyframes pulse {
    0% {
        -moz-transform: scale(0.9);
        -ms-transform: scale(0.9);
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
    }

    70% {
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -webkit-transform: scale(1);
        transform: scale(1);
        box-shadow: var(--stepBoxShadow);
    }

    100% {
        -moz-transform: scale(0.9);
        -ms-transform: scale(0.9);
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
        box-shadow: var(--finalBoxShadow);
    }
}